<form method="POST" action="/login" >
    <label for="email">Email</label>
    <input type="text" name="phone" value="">
    <label for="password">password</label>
    <input type="password" name="password" value="">
    <input type="checkbox" name="rememberme" >
    <input type="submit" name="submit" value="submit">
</form>